body {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	background: linear-gradient(145deg, #f0f0f0, #cfcfcf);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
}

#container {
	display: flex;
	flex-wrap: wrap;
	height:80vw;
	width:80vw;
	max-width: 960px;
	max-height: 960px;
	background:#e0e0e0;
	border-radius: 10px;
	box-shadow: 8px 8px 16px #a0a0a0, -8px -8px 16px #ffffff;
	overflow: hidden;
}

.grid {
	box-sizing: border-box;
	border: 1px solid black;
	background: #d0d0d0;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#controls {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

button {
	margin: 0 10px;
	padding: 10px 20px;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	background: linear-gradient(145deg, #f0f0f0, #cfcfcf);
	box-shadow: 4px 4px 8px #a0a0a0, -4px -4px 8px #ffffff;
	cursor: pointer;
}

button:active {
	box-shadow: inset 4px 4px 8px #a0a0a0, -4px -4px 8px #ffffff;
}

@media (max-width: 600px) {
	#container {
		width: 95vw;
		height: 95vw;
	}

	button {
		padding: 8px 16px;
		font-size: 0.9rem;
	}
}