#container {
	display: flex;
	flex-wrap: wrap;
	height:960px;
	width:960px;
	margin: 0 auto;
}

.grid {
    flex: 1 1 (calc(100%/16));
	box-sizing: content-box;
	border: 1px solid black;
	margin: 0 auto;
}
